@import "tailwindcss";

/* LIGHT (ostaje isto) */
:root {
  --background: #ffffff;
  --foreground: #111827;
  --font-open-sans: "Open Sans", sans-serif;

  --hero-base: #eaebec;
  --hero-grad1: #68eed3;
  --hero-grad2: #00cc4b;
  --cta-grad: linear-gradient(130deg, #68eed3, #00cc4b);
  --about-green: #22c55e;
  --about-yellow: #facc15;
  --about-red: #ef4444;
  --about-blue: #3b82f6;
  --contact-grad: linear-gradient(130deg, #68eed3, #00cc4b);

  --cta-bg: #000000;
  --cta-fg: #ffffff;
  --cta-hover: #374151; /* gray-700 */
}

/* prefers-color-scheme blok ostaje kako si stavio */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

/* Body */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* DARK varijable */
.dark {
  --background: #111827;
  --foreground: #f9fafb;

  --hero-base: #0f172a;
  --hero-grad1: #4f46e5;
  --hero-grad2: #9333ea;

  --cta-grad: linear-gradient(130deg, #4f46e5, #9333ea);
  --about-green: #10b981;
  --about-yellow: #eab308;
  --about-red: #ec4899;
  --about-blue: #6366f1;
  --contact-grad: linear-gradient(130deg, #4f46e5, #9333ea);

  --cta-bg: #ffffff;
  --cta-fg: #000000;
  --cta-hover: #e5e7eb; /* gray-200 */
}

#projects h2,
#projects p {
  color: var(--foreground);
  -webkit-text-stroke: 0;
}

.dark .outline-heading,
.dark .outline-sub {
  -webkit-text-stroke: 0;
  color: var(--foreground);
}
